var mysql = require('mysql');
var pool = mysql.createPool({
  connectionLimit : 10,
  host            : 'localhost',
  user            : 'userName',
  password        : 'password',
  database        : 'databaseName'
  ,dateStrings:true
});

module.exports.pool = pool;
