<!doctype html>
<html>
<head>
	<title>Grasshoppers Second Hand Products</title>
	<link href="/bootstrap.min.css" rel="stylesheet">
	<link href="/bootstrap-icons.css" rel="stylesheet">
	<script src="/bootstrap.bundle.min.js" ></script>
</head>
<body>
	{{{body}}}
</body>
</html>
