<h1>Project Links:</h1>
<br>
<a href="http://localhost:{{port}}/customers">Customers</a>
<br>
<a href="http://localhost:{{port}}/products">Products</a>
<br>
<a href="http://localhost:{{port}}/orders">orders</a>
<br>
<a href="http://localhost:{{port}}/cart">cart</a>
<br>
