<h1>Welcome To Grasshopers Second Hand Items</h1>
<h3>Use the navigation above to browse the site!</h3>

<br>
<a href="/customers">Customers</a>
<br>
<a href="/products">Products</a>
<br>
<a href="/categories">Categories</a>
<br>
<a href="/payment_methods">Payment Methods</a>
<br>
<a href="/addresses">Addresses</a>
<br>
<a href="/emails">Emails</a>
<br>
<a href="/orders">Orders</a>
<br>
<a href="/cart">Cart</a>
<br>
