<h1>Welcome To Grasshopers Second Hand Items</h1>
<h3>Use the navigation above to browse the site!</h3>

<br>
<a href="/customers">Customers - Add Delete and Update </a>
<br>
<a href="/products">Products - Add to Cart and Add new Products with multiple Categories</a>
<br>
<a href="/categories">Categories - Add Categories, view Products by Category</a>
<br>
<a href="/payment_methods">Payment Methods - Add and Delete PaymentMethods</a>
<br>
<a href="/addresses">Addresses - Add and Delete Addresses</a>
<br>
<a href="/emails">Emails - Add and Delete Emails</a>
<br>
<a href="/orders">Orders - Delete historical Orders</a>
<br>
<a href="/cart">Cart - Change quantity, choose ship Address, PaymentMethod and Place Orders</a>
<br>
