<h1>Products:</h1>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <form method="post" action="/cart/add">
        <tr>
          <td>
            <input type="hidden" name="product_id" value="{{this.product_id}}">
            {{this.in_stock_qty}}
          </td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>
            <button class="btn btn-secondary" type="submit">
              <strong>
                <i class="bi bi-cart-plus">&nbsp;</i> Add To Cart
              </strong>
            </button>
          </td>
        </tr>
      </form>
    {{/each}}
  </tbody>
</table>

{{#if loggedInCustomer.is_admin}}
  <form class="row g-3" method="post" action="/products/add">
    <div class="col-auto">
      <input type="text" name="description" max="255" class="form-control" placeholder="Description">
    </div>
    <div class="col-auto">
      <input type="number" name="in_stock_qty" min="-1" class="form-control" placeholder="Quantity">
    </div>
    <div class="col-auto">
      <input type="text" name="price" min="0" step="0.01" class="form-control" placeholder="Price">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Add Product</button>
    </div>
  </form>
{{/if}}
